<a href="https://colab.research.google.com/github/jnsbrdbr/andrew-ng/blob/master/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import scipy.io
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
path = "/content/drive/MyDrive/test/test200.csv"
data = pd.read_csv(path)

In [4]:
data

     src  dst
0      1    2
1      3    4
2      5    6
3      5    7
4      5    8
..   ...  ...
194   52  199
195   52  200
196   52  201
197   52  202
198   52  203

[199 rows x 2 columns]

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data = pd.crosstab(data.src, data.dst)
idx = data.columns.union(data.index)
data = data.reindex(index = idx, columns=idx, fill_value=0)

In [7]:
print (data)

     1    2    3    4    5    6    7    ...  197  198  199  200  201  202  203
1      0    1    0    0    0    0    0  ...    0    0    0    0    0    0    0
2      0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
3      0    0    0    1    0    0    0  ...    0    0    0    0    0    0    0
4      0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
5      0    0    0    0    0    1    1  ...    0    0    0    0    0    0    0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
199    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
200    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
201    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
202    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
203    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0

[203 rows x 203 columns]